@import "../../../public/stylesheets/colors.scss";

.row{
  display:flex;
}

.column{
  flex:50%;
}

.list{
  max-width: 400;
  text-align: center;
}

.encounterList{
  font-size: 30px;
  margin-left: 15px;
}

.link{
  color:black;
}
.link:hover{
  color:black;
}
.link:visited{
  color:black;
}

.box{
  background-color: $gray;
  border-radius: 25px;
  margin-top: 25px;
  border:solid 3px black;
}

.creatures{
text-align: center;
}

.left{
  margin-left: 50px;
}

.right{
  margin-right: 50px;
}

.encounter{
  text-align: center;
}

.explanation{
  background-color: $gray;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 55px;
  border-radius: 25px;
  border:solid 3px black;
  padding-top: 10px;
  margin-bottom: 675px;
}