.hide{
  display: none;
}

.container{
  flex-direction: column; 
  margin: 8px;
text-align: center;
}

.topStats{
  display:flex;
  margin-left: 80px;
}

.half{
  flex-direction:column;
  margin-left: 8px;
  text-align: right;
}

.statList{
  display:flex;
  margin-left: 12px;
}

.submit{
  background-color:gray;
  border-radius: 20px;
}

.encounterRemove{
  background-color:gray;
  border-radius: 20px;
  margin-left: 70px;
}

.statBlock{
  background-color: white;
  border-radius: 25px;
}

.gap{
  margin-left:20px;
}

.actions{
  margin-right: 5px;
}

.showPage{
  margin-right: 700px
}

.trait{
  border: 3px solid red;
  border-radius: 8px;
}

.creatureName{
  text-align: center;
}

.modifier{
  position:relative;
}

.modifierText{
  display: none;
  text-align: center;
  border-radius: 6px;
  background-color: black;
  color: #fff;
  position:absolute;
  width: 25px;
  margin-left: 40px;
  margin-top: 5px;
}

.modifier:hover .modifierText{
  display:inherit;
}