.row{
  display:flex;
}

.column{
  flex:50%
}

.list{
  text-align: right;
  margin-right: 30px;
}

.encounterList{
  font-size: 30px;
  margin-left: 15px;
}

.link{
  color:black;
}
.link:hover{
  color:black;
}