@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "../../../public/stylesheets/creatureList.scss";
@import "../../../public/stylesheets/colors.scss";
@import "../../../public/stylesheets/encounterForm.scss";
@import "../../../public/stylesheets/creatureTile.scss";
@import "../../../public/stylesheets/landingPage.scss";
@import"../../../public/stylesheets/encounterList.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body{
background: url("https://st3.depositphotos.com/5623324/15815/v/600/depositphotos_158158190-stock-video-dark-and-spooky-dungeon-with.jpg") no-repeat center center fixed;
background-size: cover;
}